.page-mahatma-gandhi #first-container {
    display: flex;
  }
  .page-mahatma-gandhi #gandhi-1 {
    padding: 0 1rem 1rem;
    align-self: start;
  }
  .page-mahatma-gandhi #gandhi-2 {
    width: 100%;
    padding: 1rem 0;
    height: auto;
}
  .page-mahatma-gandhi section:nth-of-type(1) {
    text-align: center;
}
  .page-mahatma-gandhi section {
  margin-bottom: 1rem;
}

  @media screen and (max-width: 700px) {
    .page-mahatma-gandhi #first-container {
      flex-direction: column;
    }
  }
