body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

strong {
  letter-spacing: 0.04em;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 50px;
  letter-spacing: 0.08em;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

h3 {
  letter-spacing: 0.06em;
  font-weight: bold;
}
p {
  max-width: 750px;
}

a {
  color: inherit;
}

@media (min-width: 400px) {
  /* body {
    font-size: 16px;
  } */
}
