---
layout: base.njk
---
<style>
#observe-resize main a {
    color: var(--darkest-hue);
  }
</style>

<main>
  {{ content | safe }}
  <br />
  <br />
  <a href="/featured/poems/single-sentence-poems">Return to Poem titles</a>
</main>
